<!DOCTYPE html>
<html lang="en" accept-language="en">
<head>
  <title>Travelgraphy - All Posts</title>
  <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>ALL Travelgraphy</h1>
    <div class="photo-album">
      <% posts.forEach(post => { %>
        <% if (post.user === currentUser?.id) { %>

          <div class="photo-item">
            <div class="photo">
              <img src="<%- post.image %>" alt="image">
            </div>

            <div class="photo-info">
              <h3>Title: <%- post.title %></h3>
              <h4>Location: <%- post.location %></h4>
              <p> Notes: <%- post.comment %></p>
            </div>

            <div class="button-container1">
              <a href="/posts/<%- post._id %>/update" class="buttonDU">Update</a>
              <form action="/posts/<%- post._id %>/delete" method="POST">
                  <input type="submit" value="Delete" id="buttonDE">
              </form>
            </div>
          </div>
        <% } %>
      <% }) %>
  </div>
    <a href="/new-post" class="button-newpost">New Post</a>
  </header>
</body>
</html>
