<!DOCTYPE html>
<html lang="en" accept-language="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up date page</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
<main>
    <h1> 
   Update the Travelpgraphy
    </h1>

<form action="/posts/<%-post._id%>/update" method="POST">

  <label for="Title:">
    <span>Title:</span>
    <input type="text" name="title" value="<%= post.title %>">
  </label>
  <br>

  <label for="Location:">
  <span>Location:</span> 
  <input type="text" name="Location:" value="<%= post.location %>">
  </label>

  <label for="Coment about your travel:">
  <span>Comment about your travel:</span> 
  <textarea name="comment about your travel:"><%= post.comment %></textarea>
  </label>
 

  <label for="Photo: ">
  <span>Photo: </span> 
  <input type="file" name="image" value="<%= post.image %>">
  </label><br>
  <input type="submit" value="Update" id="button">
</form>
</main>
<section class="images">
  <img src="/images/updatefoto.png" alt="Mobile">
  <div class="circle"></div>
</section>
</body>
</html>